* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #539298;
  color: #B8DBDE;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  display: flex;
  font-size: 64px;
  gap: 24px;
}

.score-X {
  font-size: 32px;
  align-self: center;
}

.selections {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.selection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100px;
  height: auto;
}

.selIndex {
  color: #1D636A;
}

.result {
  font-size: 20px;
  margin-bottom: 12px;
}

.round-win {
  color: #93D89B;
}

.round-lost {
  color: #FFB1AD;
}

.game {
  margin-bottom: 12px;
}

.buttons {
  display: flex;
  gap: 12px;
}

button {
  border: none;
  padding: 6px 18px;
  background-color: #80B6BB;
  color: #1D636A;
}

button:hover {
  background-color: rgb(180, 218, 222);
}

button:disabled {
  background-color: #80B6BB;
}